.rodape{
    background-color: var(--verde-agua);
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape__texto{
    color: var(--creme);
    margin: auto;
    padding: 10px;
    font-size: 14px;
}

.rodape__texto:hover{
    color: var(--coral);
}

.rodape a{
    display: flex;
    transition: 1s all;

    align-items: center;
}

.rodape a:hover{
    transform: scale(1.1);
    -webkit-filter: blur(5px);
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

.rodape .rodape__imagem{
    width: 30px;
}
