.cabecalho__fundo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 295px;
    background-image: url(../images/bolha__cima.svg), url(../images/traco__cima.svg);
    background-repeat: no-repeat;
    z-index: -1;
}

.cabecalho .cabecalho__itens{
    display: flex;
    padding: 3em 3em;
    align-items: center;
}

.cabecalho__itens .cabecalho__link{
    margin-right:  60px;
}

.cabecalho__patas{
    background-image: url(../images/patas.svg);
    height: 189.96px;
    width: 135px;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
}